<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.branch.segment_branch_testbed"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="io.branch.sdk.TestMode" android:value="true" /> <!-- Set to true to use Branch_Test_Key -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_jlsOZdng507DcPObmp184mjjtzp8n95t" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_gluJ0edkX6YzmMLaoqpgogpdxCf9e56V" />
    </application>

</manifest>